@import 'reuse/variables'

*
    padding: 0
    margin: 0

@font-face
    font-family: 'Museo Sans 500'
    src: url('fonts/museosans_500-webfont.ttf'), url('fonts/museosans_500-webfont.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'Museo Sans 700'
    src: url('fonts/museosans_700-webfont.ttf'), url('fonts/museosans_700-webfont.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Museo Sans 300'
    src: url('fonts/museosans-300-webfont.ttf'), url('fonts/museosans-300-webfont.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg')
    font-weight: 300
    font-style: normal

body, html 
    width: 100%
    padding: 0
    margin: 0
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
    font-size: 14px
    line-height: 1.6
    background: $white
    color: $dark
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

h1,h2,h3,h4,h5,h6 
    font-family: "Museo Sans 700"
nav a, button, input
    min-width: 48px
    min-height: 48px
    font-size: $base-font-size
    font-weight: 500

a
    color: $brand-color
    text-decoration: none
    transition: color 2s


a:hover 
    color: darken($brand-color, 20%)

.hr
    padding: 30px 0

img
    max-width: 100%

.main-navigation
    a
        height: 80px important