#header
    position: relative
    height: 80px
    padding: $side-padding
    // padding-top: 20px 
    // line-height: 4


#logo
    float: left

.is-contained
    padding: $side-padding

.section
    padding: 20px 0
    text-align: center

    h4
        font-size: 30px
    
    .is-hollow
        display: block

footer
    background: $dark
    color: $wash