#header
    position: relative
    height: 80px
    padding: $side-padding
    // padding-top: 20px 
    // line-height: 4

    .is-top
        padding: 20px 0
        display: inline-block
        float: right


#logo
    float: left

.is-contained
    padding: $side-padding

@media only screen and (min-width: 1200px)
    .is-contained
        // padding: $padding
        width: 1000px
        margin: auto


.section
    padding-top: 20px
    padding-bottom: 40px
    text-align: center
    clear: both

    h4
        font-size: 30px
        text-transform: uppercase
    
    .is-hollow
        padding: 0.8em 4em !important

#main
    .section
        text-align: left

footer
    background: $dark
    color: #969eb6


@media screen and (min-width: 1200px)
    .the-module
        width: 8.333%
    .has-2-modules
        width: 16.66%
    .has-3-modules
        width: 24.999%
    .has-4-modules
        width: 33.333%
    .has-5-modules
        width: 41.66%
    .has-6-modules
        width: 50%
    .has-7-modules
        width: 58.333%
    .has-8-modules
        width: 66.666%
    .has-9-modules
        width: 75%
    .has-10-modules
        width: 83.333%
    .has-11-modules
        width: 91.666%
    .has-12-modules
        width: 100%
    .take-20
        width: 20%
    .take-25
        width: 25%

@media screen and (min-width: 1200px)
    .has-1-module, .has-2-modules, .has-3-modules, .has-4-modules, .has-5-modules, .has-6-modules, .has-7-modules, .has-8-modules, .has-9-modules, .has-10-modules, .has-11-modules, .has-12-modules
        // float: left
        padding: 0 10px 
        box-sizing: border-box
        flex-grow: inherit
@media screen and (max-width: 450px)
    .has-1-module, .has-2-modules, .has-3-modules, .has-4-modules, .has-5-modules, .has-6-modules, .has-7-modules, .has-8-modules, .has-9-modules, .has-10-modules, .has-11-modules, .has-12-modules,.take-20, .take-25
        width: 100%
        box-sizing: border-box
        flex-grow: inherit

.grid 
    // display: inline-block
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
.right
    margin-right: 40px