#nav
    background: inherit
    float: right
    padding: 32px 0

a.is-hollow
    background: transparent
    border: 1px solid $brand-color
    padding: 0.8em 1.6em !important
    color: $brand-color !important
    font-weight: 500

#nav li
    list-style: none
    float: left
    color: $dark
    a
        padding: 1.5em
        text-transform: uppercase
        color: inherit

#window
    text-align: center
    padding: 85px
    // height: 450px
    color: $white
    background:  url(images/JBW2PXDOL6.png) left center  no-repeat, rgba(0,0,0,0.7)
    
    h1
        font-size: 60px
        font-weight: 300

    p:nth-child(2)
        font-size: 18px
        line-height: 2
        padding: 10px
    p:last-child
        font-size: 18px
        padding: 10px
    p
        font-size: 14px
        line-height: 1.6
        width: 600px
        margin: auto
.wash
    background: $wash
    padding: $side-padding
    line-height: 4
    // clear: both
.event
    p
        padding: 30px 0
        line-height: 1.2
        float: left

.button
    color: $white
    background: $brand-color
    padding: 0.8em 1.6em
    font-weight: 500
    text-transform: uppercase

#logo
    width: 150px
    img 
        max-width: 100%

.card
    background: $white
    border-radius: 2px
    height: 343px
    margin: 5px

    h5
        color: $brand-color
        text-transform: capitalize
