#nav
    background: inherit
    float: right
    padding: 30px 0
    font-family: "Museo Sans 500"

a.is-hollow
    background: transparent
    border: 1px solid $brand-color
    padding: 0.8em 1.6em !important
    box-sizing: border-box
    color: $brand-color !important
    font-weight: 500
    font-family: "Museo Sans 500"
    text-transform: uppercase

#nav li
    list-style: none
    float: left
    color: $dark
    a
        padding: 1.5em
        text-transform: uppercase
        color: inherit

#window
    text-align: center
    padding: 85px
    // height: 450px
    color: $white
    background:  url(images/JBW2PXDOL6.png) left center  no-repeat, rgba(0,0,0,0.7)
    
    h1
        font-size: 3em
        font-weight: 300
        font-family: "Museo Sans 500"

    p:nth-child(2)
        font-size: 18px
        line-height: 2
        padding: 10px
    p:last-child
        font-size: 18px
        padding: 10px
    p
        font-size: 14px
        line-height: 1.6
        // width: 600px
        // margin: auto
.wash
    background: $wash
    padding: $side-padding
    // line-height: 4
    // clear: both
.event
    text-align: center
    // min-height: 120px
    padding: 20px 0
    
    h4
        font-size: 18px
    .push-30
        margin-top: 30px

.button
    color: $white
    background: $brand-color
    padding: 0.8em 1.6em
    font-weight: 500
    text-transform: uppercase
    margin: 12px
    font-family: "Museo Sans 500"

#logo
    width: 150px
    img 
        max-width: 100%

.card
    background: $white
    border-radius: 2px
    height: 343px
    margin: 5px

    h5
        color: $brand-color
        text-transform: capitalize
        font-size: 34px
        font-weight: 500

.is-brand-color
    color: $brand-color