* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease; }

@font-face {
  font-family: "Museo Sans 500";
  src: url("fonts/museosans_500-webfont.ttf"), url("fonts/museosans_500-webfont.ttf") format("truetype"), url("fonts/EntezareZohoor2.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Museo Sans 700";
  src: url("fonts/museosans_700-webfont.ttf"), url("fonts/museosans_700-webfont.ttf") format("truetype"), url("fonts/EntezareZohoor2.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Museo Sans 300";
  src: url("fonts/museosans-300-webfont.ttf"), url("fonts/museosans-300-webfont.ttf") format("truetype"), url("fonts/EntezareZohoor2.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("fontsOpenSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background: #fff;
  color: #5a6175;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Museo Sans 700";
  color: #565659; }

p {
  padding: 14px 0; }

nav a, button {
  min-width: 48px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 500; }

a {
  color: #5fc0c3;
  text-decoration: none;
  transition: color 0.2s cubic-bezier(0.8, 1, 0.4, 0.6); }

a:hover {
  color: #338689; }

.hr {
  padding: 30px 0; }

img {
  max-width: 100%; }

.main-navigation a {
  height: 80px important; }

.item-list ul {
  list-style: none; }

footer {
  text-align: center; }

#header {
  position: relative;
  height: 80px;
  padding: 0 10px; }
  #header .is-top {
    padding: 20px 0;
    display: inline-block;
    float: right; }

#logo {
  float: left; }

.is-contained {
  padding: 0 10px; }

@media only screen and (min-width: 1200px) {
  .is-contained {
    width: 1000px;
    margin: auto; } }
.section {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  clear: both; }
  .section h4 {
    font-size: 30px;
    text-transform: uppercase; }
  .section .is-hollow {
    padding: 0.8em 4em !important; }

#main .section {
  text-align: left; }

footer {
  background: #454850;
  color: #969eb6; }

@media screen and (min-width: 1200px) {
  .the-module {
    width: 8.333%; }

  .has-2-modules {
    width: 16.66%; }

  .has-3-modules {
    width: 24.999%; }

  .has-4-modules {
    width: 33.333%; }

  .has-5-modules {
    width: 41.66%; }

  .has-6-modules {
    width: 50%; }

  .has-7-modules {
    width: 58.333%; }

  .has-8-modules {
    width: 66.666%; }

  .has-9-modules {
    width: 75%; }

  .has-10-modules {
    width: 83.333%; }

  .has-11-modules {
    width: 91.666%; }

  .has-12-modules {
    width: 100%; }

  .take-20 {
    width: 20%; }

  .take-25 {
    width: 25%; } }
@media screen and (min-width: 1200px) {
  .has-1-module, .has-2-modules, .has-3-modules, .has-4-modules, .has-5-modules, .has-6-modules, .has-7-modules, .has-8-modules, .has-9-modules, .has-10-modules, .has-11-modules, .has-12-modules {
    padding: 0 10px;
    box-sizing: border-box;
    flex-grow: inherit; } }
@media screen and (max-width: 450px) {
  .has-1-module, .has-2-modules, .has-3-modules, .has-4-modules, .has-5-modules, .has-6-modules, .has-7-modules, .has-8-modules, .has-9-modules, .has-10-modules, .has-11-modules, .has-12-modules, .take-20, .take-25 {
    width: 100%;
    box-sizing: border-box;
    flex-grow: inherit; } }
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.right {
  margin-right: 40px; }

#nav {
  position: absolute;
  width: 280px;
  float: none;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  height: 100vh;
  padding-top: 30px;
  left: 0;
  top: 80px;
  transform: translate(-260px, 0);
  transition: transform 0.3s ease; }
  #nav li {
    list-style: none;
    float: none;
    color: #454850; }
    #nav li a {
      padding: 0.6em;
      text-transform: uppercase;
      color: inherit; }
  #nav:hover {
    transform: translate(0, 0); }

@media screen and (min-width: 600px) {
  #nav {
    background: inherit;
    position: relative;
    top: 0;
    height: auto;
    width: auto;
    float: right;
    padding: 30px 0;
    font-family: "Museo Sans 500";
    transform: translate(0, 0); }
    #nav li {
      list-style: none;
      float: left;
      color: #454850; }
      #nav li a {
        padding: 1.5em;
        text-transform: uppercase;
        color: inherit; }

  li.last {
    margin-right: 24px; } }
a.is-hollow {
  background: transparent;
  border: 1px solid #5fc0c3;
  padding: 0.714em 1.285em !important;
  color: #5fc0c3 !important;
  box-sizing: border-box;
  font-weight: 500;
  font-family: "Museo Sans 500";
  text-transform: uppercase;
  line-height: 1.2;
  border-radius: 2px; }

.button {
  color: #fff;
  background: #5fc0c3;
  padding: 0.714em 1.285em;
  border-radius: 2px;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: 12px 0;
  font-family: "Museo Sans 500";
  line-height: 1.2;
  margin-bottom: 20px;
  transition: box-shadow 0.2s cubic-bezier(0.8, 1, 0.4, 0.6); }

.button:hover {
  color: #fff;
  box-shadow: 0 2px 4px rgba(99, 129, 126, 0.5), 0 2px 1px rgba(99, 129, 126, 0.5); }

#window {
  text-align: center;
  padding: 0;
  color: #fff;
  background: url(images/JBW2PXDOL6.png) left center no-repeat, rgba(0, 0, 0, 0.7); }
  #window h1 {
    font-size: 1.5em;
    color: #fff;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    clear: both; }

@media screen and (min-width: 1200px) {
  #window {
    padding: 85px;
    color: #fff;
    background: url(images/JBW2PXDOL6.png) left center no-repeat, rgba(0, 0, 0, 0.7); }
    #window h1 {
      font-size: 4em;
      font-weight: 300;
      font-family: "Museo Sans Rounded";
      color: #fff; }
    #window p:nth-child(2) {
      font-size: 18px;
      line-height: 2;
      padding: 10px; }
    #window p:last-child {
      font-size: 18px;
      padding: 10px; }
    #window p {
      font-size: 14px;
      line-height: 1.6; } }
.wash {
  background: #f1f2f5; }

.event {
  text-align: left;
  padding: 20px 0; }
  .event p {
    padding: 8px 0; }
  .event .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .event h4 {
    font-size: 18px; }
  .event .register {
    padding-right: 0;
    text-align: right;
    margin-right: 0; }

#logo {
  width: 150px; }
  #logo img {
    max-width: 100%; }

.is-brand-color {
  color: #5fc0c3; }

.get-involved h5 {
  font-size: 1em; }
.get-involved img {
  max-height: 120px;
  margin: 20px 0; }
.get-involved img.meetup {
  transform: rotate(-10deg) scale(0.6); }

.blog .excerpt {
  margin: 20px 0;
  text-align: left;
  list-style: none; }
  .blog .excerpt .title {
    font-size: 1em;
    color: #5fc0c3; }
  .blog .excerpt .date-time {
    padding: 10px 0; }

.underline::after {
  content: " ";
  display: block;
  height: 1px;
  border-bottom: 1px solid #f1f2f5; }

.overline::before {
  content: " ";
  display: block;
  height: 1px;
  border-bottom: 1px solid #f1f2f5; }

.divider {
  height: 1px;
  border-bottom: 1px solid #f1f2f5;
  display: block; }
  .divider.gray {
    border-color: #d9dadd; }
  .divider.dark {
    border-color: #575b64; }

.our-mission > p:nth-child(3) {
  font-size: 1.1em;
  font-weight: 500; }

.card {
  background: #fff;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  padding-top: 80px; }
  .card h5 {
    color: #57c0d5;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500; }
  .card .circle {
    border: 10px solid #fff;
    position: relative; }
    .card .circle img {
      height: 50px;
      position: absolute;
      top: 25%;
      left: 25%; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #57c0d5; }

.pull-up {
  margin-top: -142px;
  margin-bottom: 20px;
  z-index: 10; }

.center-elem {
  margin-left: auto;
  margin-right: auto; }

.our-members img {
  max-width: 160px;
  max-height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.slider {
  clear: both;
  display: flex;
  padding: 10px; }

.slider-item {
  height: 60px;
  min-width: 120px;
  position: relative;
  padding: 60px 0;
  margin-right: auto; }

.slider-item:last-child {
  margin-left: 0;
  margin-right: 0; }

.indicators {
  padding: 10px 0;
  width: 90px; }
  .indicators .circle {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: #979eb1;
    margin: 0 10px;
    float: left; }
  .indicators .active {
    background: #5fc0c3; }

.social {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url("") center center no-repeat;
  display: inline-block;
  outline: none;
  background-size: contain; }
  .social.facebook {
    background-image: url(images/facebook.svg); }
  .social.twitter {
    background-image: url(images/twitter.svg); }
  .social.googl {
    background-image: url(images/googl.svg); }

.chevron {
  text-indent: -9999px;
  overflow: hidden;
  background: url("images/chevron.svg") center center no-repeat;
  display: inline-block;
  outline: none;
  background-size: contain;
  border-width: 0;
  cursor: pointer;
  transition: all 0.3s; }
  .chevron.prev {
    background-image: url("images/chevron_prev.svg"); }

.slider {
  position: relative; }
  .slider .chevron {
    position: absolute;
    top: 42%; }
    .slider .chevron.prev {
      left: 10px; }
    .slider .chevron.next {
      right: 10px; }
  .slider .chevron:hover {
    transform: translate(5px); }
    .slider .chevron:hover.prev:hover {
      transform: translate(-5px); }

fieldset {
  border-style: hidden; }

#breadcrumb h2.element-invisible {
  display: relative;
  font-weight: 300;
  font-size: 1em; }

textarea {
  outline-color: #5fc0c3; }

input {
  padding: 20px;
  background: #f1f2f5;
  margin: 5px 0;
  outline-color: #5fc0c3;
  outline-width: 2px;
  border: 0;
  border-radius: 4px;
  color: #454850;
  margin-right: 20px; }

input[type="submit"], input[type="submit"] {
  background: #5fc0c3;
  cursor: pointer; }

#content {
  padding: 50px 0; }

.item-list ul li {
  margin: 30px 0; }

.item-list ul li:first-child {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
